html,
body {
    padding: 0px;
    margin: 0px;
}

.page-window-bg {
    /* background-color: #D10000;
    background-color: #e60000; */
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.company-name {
    font-family: 'Playfair Display', serif;
}

.intro-cn {
    font-size: 80px;
    color: #e60000;
}


.upper-stripe {
    position: absolute;
    display: block;
    top: 30px;
    left: 0;
    right: 0;
}

.bottom-stripe {
    position: absolute;
    display: block;
    bottom: 30px;
    left: 0;
    right: 0;
}

.upper-stripe,
.bottom-stripe {
    display: block;
    background-color: #e60000;
    height: 50px;
}


.page-window-inner {
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px #860000;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
}

/**
* Form
*/

input[type="button"],
input[type="text"],
input[type="text"]:focus {
    border: 1px solid red;
    background-color: transparent;
    border-radius: 0px;
    line-height: 30px;
    padding: 0px 10px;
    color: #000;
}

input[type="button"] { 
    color: #000;
}

/**
* Dark mode
*/
.dark-mode {
    background-color: #101010;
}


.dark-mode .upper-stripe,
.dark-mode .bottom-stripe {
    background-color: #fff;
}

.dark-mode .intro-cn {
    color: #fff;
}
