:root {
    --logo-text-color: #000;
    --text-color: #000;
    --background-color: #fff;
    --accent-color: red;
    --button-text-color: red;
    --transition-delay: 1s;
    --timestamp-color: #cacaca;
    --form-accent-color: #eee;
    --body-font: helvetica;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    padding: 0px;
    margin: 0px;

    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme="dark"] {
    --logo-text-color: #fff;
    --text-color: #fff;
    --background-color: #151515;
    --accent-color: red;
    --button-text-color: #fff;
    --transition-delay: 1s; 
    --timestamp-color: #333;
    --form-accent-color: #fff;
}

p {
    font-family: helvetica;
    font-size: .8rem;
    line-height: 1rem;
    color: var(--text-color);
}

.page-window-bg {
    /* background-color: #D10000;
    background-color: #e60000; */
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    padding: 0 1rem;
}

.center-container {
    max-width: 400px;
    display: grid;
    grid-gap: 1rem;
}

.brand-container {
    margin-bottom: 3rem;
}

.brand-name {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}

.brand-slogan {
    display: block;
    text-align: center;
}

.info-text,
.instagram-text {
    text-align: center;
    border: .1rem dashed #eee;
    padding: .5rem 1rem;
}

.instagram-text {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    text-align: left;
    padding: 0;
}

.instagram-text--text-con {
    padding: .5rem 1rem;
}

.instagram-text a {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-left: 2px dashed #eee;
}

.instagram-text a svg {
    width: 1.4rem;
    fill: var(--text-color);
}

form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .5rem;
}

form input {
    padding: .7rem 1rem;
    font-size: .8rem;
    border: 1px solid var(--form-accent-color);
    background-color: transparent;
    outline: none;
    color: var(--text-color);
}

form button {
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    border: 1px solid var(--form-accent-color);
    color: var(--text-color);
    cursor: pointer;
}

form button:hover {
    border: 1px solid var(--text-color);
}
