:root {
    --logo-text-color: #000;
    --text-color: #000;
    --background-color: #fff;
    --transition-delay: 1s;
    --timestamp-color: #cacaca;
    --form-accent-color: #eee;
    --info-box-color: #eee;
    /* --info-box-color: #fbfbfb; */
    --body-font: helvetica;
    --button-text-color: #fff;
    --button-bg-color: #1a1a1a;
    --body-font-size: .8rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
    padding: 0px;
    margin: 0px;

    background-color: var(--background-color);
    color: var(--text-color);
}

[data-theme="dark"] {
    --logo-text-color: #fff;
    --text-color: #fff;
    --background-color: #151515;
    --button-text-color: #000;
    --button-bg-color: transparent;
    --transition-delay: 1s; 
    --timestamp-color: #fff;
    --form-accent-color: #fff;
}

p {
    font-family: helvetica;
    font-size: var(--body-font-size);
    line-height: 1rem;
    color: var(--text-color);
}

.page-window-bg {
    /* background-color: #D10000;
    background-color: #e60000; */
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;

    /* display: flex;
    justify-content: center; */

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/* @media only screen and (min-width: 800px) {
    .page-window-bg {
        align-items: center;
    }
} */
  

.container {
    display: block;
    padding: 0 1rem;
}

.center-container {
    max-width: 400px;
    display: grid;
    grid-gap: 1rem;
}

.brand-container {
    margin-bottom: 3rem;
}

.brand-name {
    display: block;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
}

.brand-slogan {
    display: block;
    text-align: center;
}

.info-text,
.instagram-text {
    text-align: center;
    border: 1px solid var(--info-box-color);
    /* box-shadow: rgba(45, 41, 38, 0.1) 0px 1px 4px; */
    padding: .5rem 1rem;
    border-radius: .3rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.instagram-text {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    text-align: left;
    padding: 0;
}

.instagram-text--text-con {
    padding: .5rem 1rem;
}

.instagram-text a {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-left: 2px dashed #eee;
}

.instagram-text a svg {
    width: 1.4rem;
    fill: var(--text-color);
}



/**
    Newsletter
*/

.newsletter {
  max-width: 400px;
  border: 1px solid #eee;
  border-radius: .3rem;
  color: var(--text-color);

  -webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.newsletter:hover {
    box-shadow: rgba(45, 41, 38, 0.1) 0px 1px 6px 0px;
}

.newsletter--info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  cursor: pointer;
  box-shadow: none;
  background-color: transparent;
  border: none;
  text-align: left;
  padding: 0;
}

.newsletter--text {
  padding: .5rem 1rem;
}

.newsletter--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  border-left: 2px dashed #eee;
}

.newsletter--icon svg {
  width: 1.4rem;
  height: 1.4rem;
}

.newsletter--form {
  border-top: 1px solid #eee;
  opacity: 0;
  display: none;
  visibility: hidden;
}

.newsletter--form-active {
  opacity: 1;
  display: block;
  visibility: visible;
}


/* form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: .5rem;
}

form input {
    padding: .7rem 1rem;
    font-size: .8rem;
    border: 1px solid var(--form-accent-color);
    background-color: transparent;
    outline: none;
    color: var(--text-color);
}

form button {
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0 1rem;
    border: 1px solid var(--form-accent-color);
    color: var(--text-color);
    cursor: pointer;
}

form button:hover {
    border: 1px solid var(--text-color);
} */

/**
    Sendinblue
*/

.sib-form{
    background-color: transparent;
    padding: 0;
}

#sib-container {
    background-color: transparent;
    /* border: .1rem solid var(--info-box-color);
    border-radius: .3rem; */
    /* box-shadow: rgba(45, 41, 38, 0.1) 0px 1px 4px; */
}

.sib-form .entry__field {
    background-color: transparent;
    border: 1px solid var(--form-accent-color);
}

.sib-form .entry__field input {
    font-size: 13px;
}

.sib-form__declaration {
    border: 1px dotted var(--form-accent-color);
    margin: 1rem;
    padding: .7rem;
    border-radius: .3rem;
}

.sib-form-block button {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 11px;
    letter-spacing: 0.03rem;
    padding: 0;
    line-height: 3rem;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border-radius: .3rem;
    /* border: 1px solid var(--form-accent-color); */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.sib-form .entry__error {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    /* color: rgb(102, 29, 29); */
    /* background-color: rgb(255, 237, 237); */
    /* border-bottom: 1px solid; */
      /* border-bottom-color: currentcolor; */
    /* border-color: rgb(255, 73, 73); */
    display: block;
    font-size: 13px;
    /* padding: 0.5rem; */
}

.sib-form #success-message {
    color: #085229;
    background-color: #e7faf0;
    border-color: #13ce66;
}

.sib-form #success-message,
.sib-form #error-message {
    font-size: var(--body-font-size);
    font-family: "Helvetica", sans-serif;
    margin: 0;
    text-align: left;
}

.sib-form .clickable__icon {
    vertical-align: middle;
}

/**
    Grecaptcha
*/
.reCAPTCHA-container {
    margin: 0 16px;
    /* padding: 1rem;
    border: 1px solid #eee; */
    text-align: center;
}

.reCAPTCHA-container p,
.reCAPTCHA-container a {
    font-size: .5rem;
    color: #687484;
}

.grecaptcha-badge { visibility: hidden; }